@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Roboto:wght@700&display=swap');

/** Body Setting **/
body{
	background-color: #F7FFF3;
	font-family: 'Roboto', sans-serif;
}

/** Header **/
header {
	width: 100%;
	box-sizing: border-box;	
}

/* Header Title */
.header_h1 {
	background-color: #699352;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Diplomata SC', cursive;
	text-align: center;
	margin-top : 0;
	margin-bottom : 0;
}

/* Header Menu */
.header_nav {
	width: 100%;
	background-color: #F7FFF3;
	padding-top: 10px;
	padding-bottom: 1px;
}
.header_ul {
	display: flex;
	justify-content: center;
  
}
.header_li {
	list-style: none;
}
.header_a {
	color: #699352;
	font-family: 'Roboto', sans-serif;
	margin-right: 50px;
}

/* Header Sale Message */
.header_div {
	width: 100%;
	height :25px;
	overflow: hidden;
	background-color: #699352;
}
.header_p {
	line-height: 25px;
	background-color: #699352;
	font-family: 'Roboto', sans-serif;
	color: white;
	animation: flowing 20s linear infinite;
}
@keyframes flowing {
  100% {
    transform: translateX(100%);
  }
}


/** Homepage (Mihoko) **/
/* Top Image */
.a_img1 {
	width: 100%;
}

/* Title of "News", "New Arrivals", "Find Our Stores" */
.a_h2_1, .a_h2_2, .a_h2_3 {
	background-color: #699352;
	color: white;
	padding :10px;
	margin :0;
}

/* Div tag of "News", "New Arrivals", "Find Our Stores" */
.a_div1, .a_div2, .a_div3 {
	display: flex;
	padding :15px 15px 30px;
	background-color: #F7FFF3;
}

/* News */
.a_img2 {
	width: 90%;
}
.a_fig1 {
	width: 50%;
}
.a_div1_2 {
	width: 50%;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
}
.a_p1_1 {
	font-size: 25px;
	font-weight: bold;
	text-decoration-line: underline;
}
.a_p1_2, .a_p1_4 {
	margin-top: 20px;
}

/* New Arrivals */
.a_ul {
	display: flex;
	justify-content: space-around;
	list-style-type:square;
}
.a_li1, .a_li2, .a_li3, .a_li4 {
	width: 23%;
}
.a_img3, .a_img4, .a_img5, .a_img6 {
	width: 100%;
}

.a_p2_1, .a_p3_1, .a_p4_1, .a_p5_1 {
    font-size: 20px;
	font-weight: bold;
}
.a_p2_2, .a_p2_3, .a_p3_2, .a_p3_3, .a_p4_2, .a_p4_3, .a_p5_2, .a_p5_3 {
	font-weight: bold;
}

/* Find Our Stores */
.a_div3_2 {
	width: 50%;
	padding-top: 20px;
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
}
.a_fig2 {
	width: 50%;
}
.a_img7 {
	width: 100%;
}
.a_p6_1, .a_p6_3, .a_p6_5 {
	font-size: 25px;
	font-weight: bold;	
}
.a_p6_3, .a_p6_5 {
	margin-top: 20px;
}




/** About Us (Naransuvd) **/
.c_card {
  padding: 1rem;
}

.c_cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/** Slider **/

#slider {
  position: relative;
  /* left:100px;
  top:40px; */
  width: 500px;
  height: 265px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
}
#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}
#slider ul li img{
  width: 500px;
  height: 265px;
}
 
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  position: absolute;
   top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}



.c_OurHistory {
  background-color:#F7FFF3;
  font-family:cursive;
  text-align: justify;
	}

.h2_title{
    text-align: center;
  }
.c_SeasonalOffer {
  background-color:#F7FFF3;
  text-align: justify;
  font-family:cursive;
  position:relative;
  }
.c_Delivery {
	background-color:#F7FFF3;
  text-align: justify;
   font-family:cursive;
  /* width:40%;
  height:20px; */
  position:relative;
  /* left:700px;
  bottom:100px; */

  
}

.c_rectangle {
  height: 80px;
  width: 1300px;
  right:-30px;
  bottom:-300px;
  background-color: #699352;
  

  
}

.c_post_img{
	/* width:30%;
	height:30%; */
  width: 550px;
	position:relative;
	/* bottom:100px;
	right:-100px; */
}




/** My Order (Wanpin) **/
/*--My--*/
.h_myorder-container{
    max-width:1200px;
    padding: 10px;
    width: 100%;
    height: 350px;
    margin: 10px auto;
    background-color: #F7FFF3;
}
/*--breadscrum--*/
.h_link-route{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color:#999;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.h_link-route a{
    font-size: 0.9rem;
    color:#699352;
    margin: 0px 8px;
}
.h_link-route a:nth-child(1){
    margin-left: 0px;
}
/*--tab menu--*/
.h_tab ul{
    display: flex;
}
.h_tab ul li{
    list-style: none;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 2px 3px #b5b5b5;
}
.h_tab ul li a{
    background-color: #fff;
    padding: 10px;
    display: block;
    color: #4e4e4e;
    text-decoration: none;
}
.h_tab ul li a:hover{
    border-top: 4px solid #c4a321;
    background-color: #fff;
    transition: all ease 0.2s;
}
.h_tab-active{
        border-top: 4px solid #699352;
        transition: all ease 0.2s;
    }
/*--order list--*/
.h_order-list{
    display: block;
    border: 2px solid #699352;
    box-sizing: border-box;
    width: 1000px;
    height: 140px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius:8px;
    font-size: 20px;
    color: #333;
}
.h_order-list .h_order1{
    margin: 20px;
    text-align: justify;
}

.h_order-list .h_button{
    font-size: 14px;
    margin: 0px 200px 150px 400px;
    background-color: #699352;
    color:#ffffff;
    border: 2px solid #699352;
    border-radius:3px;
}

/*--btn--*/
.h_order-list .h_order1 .h_button{
    display: flex;
    width: 120px;
    height: 40px;
    background-color: #699352;
    align-items: center;
}
.h_button:hover{
    background-color: #c3ab3d;
    border: 2px solid #c3ab3d;

}
/*--page number--*/
.h_end{
    display: flex;
    margin: 60px 350px 250px 360px;
}
.h_pagination{
    width: 500px;
    height: 100px;
    border: 2px solid #699352;
    margin: 20px 100px 20px 50px;
}

.over,.pageItem{
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.pageItem{
    border: 1px solid #699352;
    text-decoration: none;
    color: dimgrey;
}
.pageItem:hover{
    background-color: #bbd8ab;
    color:#699352 ;
}
.clearfix{
    clear: both;
}
.active{
    background-color: #bbd8ab;
    color:#699352 ;
}
.banBtn{
    border:1px solid #bbd8ab;
    color: #bbd8ab;
}
#prevBtn{
    margin-right: 10px;
}
#nextBtn{
    margin-left: 10px;
}



/** Order Detail (Sewoong) **/
.f_main{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f7fff3;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	margin: 0;
	
}
.f_table table-borderless {
    
    border-collapse: collapse;
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
	border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.f_tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.f_tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.f_td {
    padding: 8px;
    /* line-height: 1.42857143; */
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.f_text-end{
    padding: 8px;
    /* line-height: 1.42857143; */
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.f_tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

.f_text-reset{
	color: #699352;
}
.f_container {
    /* padding-right: 15px; */
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	width: 1170px;
}

.f_badge {
    background-color: #dff0d8;
}

.f_badge{
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.f_col-lg-6 {
    width: 50%;
	float: left;
	position: relative;
    left: 10px;
}

.f_h2{
	font-size: 30px;
	margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.f_h6 {
    font-size: 22px;
	margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}






/** Product List (Sewoong) **/
.e_main{
	background-color: #f7fff3;
}

.e_price {
  color: grey;
  font-size: 22px;
}

.e_img{
	aspect-ratio: 16/12;
	
}
/*tree*/

.e_head-tree{
	color: #699352;
	text-align: center;
}

.e_tree{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
}

/*tree1*/
.e_tree1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree1 button:hover {
  opacity: 0.7;
}

/*tree2*/
.e_tree2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree2 button:hover {
  opacity: 0.7;
}

/*tree3*/
.e_tree3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree3 button:hover {
  opacity: 0.7;
}

/*tree4*/
.e_tree4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree4 button:hover {
  opacity: 0.7;
}

/*toy*/
.e_toy{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
	
}

.e_head-toy{
	color: #699352;
	text-align: center;

	
}

/*toy1*/
.e_toy1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy1 button:hover {
  opacity: 0.7;
}

/*toy2*/
.e_toy2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy2 button:hover {
  opacity: 0.7;
}

/*toy3*/
.e_toy3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy3 button:hover {
  opacity: 0.7;
}

/*toy4*/
.e_toy4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy4 button:hover {
  opacity: 0.7;
}

/*decoration*/
.e_decoration{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
	
}

.e_head-decoration{
	color: #699352;
	text-align: center;

	
}

/*decoration1*/
.e_decoration1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration1 button:hover {
  opacity: 0.7;
}

/*decoration2*/
.e_decoration2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration2 button:hover {
  opacity: 0.7;
}

/*decoration3*/
.e_decoration3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration3 button:hover {
  opacity: 0.7;
}

/*decoration4*/
.e_decoration4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration4 button:hover {
  opacity: 0.7;
}

/*food*/
.e_food{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
}

.e_head-food{
	color: #699352;
	text-align: center;

	
}

/*food1*/
.e_food1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food1 button:hover {
  opacity: 0.7;
}

/*food2*/
.e_food2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food2 button:hover {
  opacity: 0.7;
}

/*food3*/
.e_food3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food3 button:hover {
  opacity: 0.7;
}

/*food4*/
.e_food4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food4 button:hover {
  opacity: 0.7;
}




/** Product Detail (Wanpin) **/
.g_product-container{
    max-width:1200px;
    width: 90%;
    margin: 30px auto;
    background-color: #F7FFF3;
    padding: 20px;
}
/*--breadscrum--*/
.g_link-route{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color:#999;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.g_link-route a{
    font-size: 0.9rem;
    color:#699352;
    margin: 0px 8px;
}
.g_link-route a:nth-child(1){
    margin-left: 0px;
}
/*--product details--*/
#product-page{
    background-color: #F7FFF3;
    padding: 30px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}
/*--product img--*/
.g_product-img{
    padding: 2px;
	background-image: -o-linear-gradient(rgba(0,0,0,0.75));
	background-size: cover;
	background-position: center;
    margin: 0px 0px 0px -20px;
}
.g_img{
    display: flex;
    width:440px;
	height: 50vh;
}

/*--product title--*/
.g_product-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.g_product-details strong{
    color: #333;
    font-size: 2.0rem;
    font-weight: 700;
    letter-spacing: 1px;
}
/*--product category--*/
.g_product-details .g_product-category{
    font-size: 0.9rem;
    color: #535353;
    font-weight: 400;
}
/*--product price--*/
.g_product-details .g_price{
    color: #333;
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.g_product-details .g_price del{
    color: #992153;
    font-weight: 400;
    font-size: 2.2rem;
    margin-left: 8px;
}
/*--product decibe--*/
.g_product-details .g_small-desc{
    color: #4b4b4b;
    font-size: 0.9rem;
    background-color: #fcfcfc;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #f7f7f7;
}
/*--buttons--*/
.g_cart-btns{
    display: flex;
    margin: 10px;
}
.g_cart-btns .add-cart{
    background-color: #699352;
    color: #fff;
    text-align: center;
    width: 150px;
    height: 40px;
    line-height: 35px;
    border-radius: 20px;

}
.g_cart-btns .buy-now{
    background-color: #992153;
    color: #fff;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    line-height: 35px;

}


/** Check Out (Naransuvd) **/
.d_row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.d_col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}



.d_col-75 {
  
  flex: 75%;
}

.d_col-25,
.d_col-50,
.d_col-75 {
  padding: 0 16px;
}

.d_container {
  background-color: mintcream;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height:700px;
 position:relative;
 margin:50px;
 padding:20px;

}
.d_input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid;
  border-radius: 3px;
}

.d_label {
  margin-bottom: 10px;
  display: block;
}



.d_btn {
  background-color: #699352;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.d_btn:hover {
  background-color: #45a049;
}



@media (max-width: 800px) {
  .d_row {
    flex-direction: column-reverse;
  }
  
}


.d_code-dropdown{
	 appearance: none;
        outline: 0;
        color: aqua;
      
        width: 20%;
        height: 100%;
        color: gray;
        cursor: pointer;
        border: 1px solid aqua;
		position:relative;
		top:-10px;
		left: 700px;
}

.d_button{
	
	background-color: #699352;
	width:80%;
	position:relative;
	right: 0px;
	bottom:0px;

	color:white;
	font-family: cursive;
	border:1px solid black;
}


/** Register (Mihoko) **/
/* Register page Div */
.b_div {
	background-color: #F7FFF3;
	padding : 5px 0px;
}

/* Div for making the image transparent  */
.b_div2 {
	margin: auto;
	width: 100%;
	padding : 2% 10% 5%;
	background: rgba(255,255,255,0.6);
}

/* Registration Form */
.b_form {
    margin: auto;
	width: 80%;
	padding : 2% 5% 2%;
	background-image: url("../images/register.jpg");
	background-size: 100%;
}

/* Registration Form Title */
.b_header {
	text-align: center;
	font-weight: bold; 
}

/* Register Button */
.b_button1 {
	background: #699352;
	color: #F7FFF3;
	padding: 10px 20px; 
	border-radius:5px; 
	font-weight: bold;
	border: 2px solid #F7FFF3;
}

/* Reset Button, Back Button */
.b_button2 {
	background: #F7FFF3; 
	color: #699352;
	padding: 10px 20px; 
	border-radius:5px; 
	font-weight: bold;
	border: 2px solid #699352;
	margin-left: 5px;
}

/* Change color when hover on buttons */
.b_button1:hover, .b_button2:hover {
  opacity: 0.8;
}




/** Footer **/
footer {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #699352;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Footer Div tag */
.footer_div {
	display: flex;
}
.footer_div2 {
	width: 25%;
	padding-left: 40px;
}

/* Footer Texts */
.footer_p1 {
	font-size: 16px;
}
.footer_p2 {
	font-size: 12px;
	color: white;
}

/* Footer Map Image */
.footer_img {
	width: 80%;
}

/* Footer Social Images */
.footer_img2 {
	width: 15px;
}

/* Footer Copyright */
.footer_copyright{
	text-align: center;	
}
